@model IEnumerable<HotelManagement.PhieuThue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="card-title title ml-32">Registration Forms List</h2>

@using (Html.BeginForm("Search", "RegistrationForm", FormMethod.Get, new { @class = "search-form" }))
{
    <div class="input-group">
        <div class="form-outline">

            @Html.TextBox("sdt", null, new { @class = "form-control bg-light border-0 small" })
        </div>

        <input type="submit" value=" Tìm " name="name" class="btn btn-primary" />
    </div>
}

<p class="ml-32 mt-32 mb-24">
    @Html.ActionLink("Add New Registration Form", "Create", "RegistrationForm", null, new { @class = "create-btn" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.TenKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianNhanPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianTraPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HienTrang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianNhanPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTraPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HienTrang)
            </td>
            <td style="
    display: flex;
    justify-content: center;
">
                @if (item.HienTrang == "Đã trả phòng" || item.HienTrang == "Đã hủy phòng")
                {
                    @Html.ActionLink("Details", "Details", new { id = item.MaPhieu })
                }
                else
                {
                    @: @Html.ActionLink("Edit", "Edit", new { id = item.MaPhieu })    

                    @: @Html.ActionLink("Details", "Details", new { id = item.MaPhieu }) 

                    @: @Html.ActionLink("Delete", "Delete", new { id = item.MaPhieu })
                }
            </td>
        </tr>
    }
</table>
