@model IEnumerable<HotelManagement.PhieuThue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Search", "RegistrationForm", FormMethod.Get))
{
    <div class="input-group">
        <div class="form-outline">

            @Html.TextBox("sdt", null, new { @class = "form-control bg-light border-0 small" })
        </div>

        <input type="submit" value=" Tìm " name="name" class="btn btn-primary" />
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.TenKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianNhanPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianTraPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HienTrang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianNhanPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTraPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HienTrang)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaPhieu }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaPhieu }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaPhieu })
            </td>
        </tr>
    }

</table>
