@model IEnumerable<HotelManagement.Phong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="title title ml-32">Room List</h2>

@using (Html.BeginForm("Search", "Room", FormMethod.Get, new { @class = "search-form" }))
{
    <div class="input-group">
        <div class="form-outline">

            @Html.TextBox("maPhong", null, new { @class = "form-control bg-light border-0 small" })
        </div>

        <input type="submit" value=" Tìm " maPhong="maPhong" class="btn btn-primary" />
    </div>
}


<p class="ml-32 mt-32 mb-24">
    @Html.ActionLink("Add New Room", "Create", "Room", null, new { @class = "create-btn" })
</p>
<div class="row family-room-list">
    @foreach (var item in Model)
    {
        @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HienTrang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiPhong.TenLoaiPhong)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaPhong }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaPhong }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaPhong })
                </td>
            </tr>*@
        if (item.HienTrang == true)
        {
            <div class="col-xl-3 col-md-6 mb-4 ">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="room-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    @Html.DisplayFor(modelItem => item.LoaiPhong.TenLoaiPhong)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.DisplayFor(modelItem => item.MaPhong)</div>
                                <div>
                                    @Html.ActionLink("Details", "Details", new { id = item.MaPhong.Trim() }) 
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-circle-minus fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (item.HienTrang == false)
        {
            <div class="col-xl-3 col-md-6 mb-4 ">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="room-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    @Html.DisplayFor(modelItem => item.LoaiPhong.TenLoaiPhong)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.DisplayFor(modelItem => item.MaPhong)</div>
                                <div>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.MaPhong.Trim() })
                                    @Html.ActionLink("Details", "Details", new { id = item.MaPhong.Trim() })
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-circle-xmark fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>