@model HotelManagement.LoaiPhong

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="card-title title ml-32">Room Type Details</h2>

<div>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoaiPhong)
            </th>
            <td>
                @Html.DisplayFor(model => model.TenLoaiPhong)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GiaLoaiPhong)
            </th>
            <td>
                @Html.DisplayFor(model => model.GiaLoaiPhong)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <td>
                <img src="@Url.Content("~/Assets/admin/img/" + Model.HinhAnh)" style="width: 100px;" />
            </td>
        </tr>
    </table>
</div>
<p class="pl-12 ml-16 mt-32 mb-24">
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLoaiPhong }, new { @class = "create-btn" })
</p>
<p class="pl-12 ml-16 mt-32 mb-24">
    @Html.ActionLink("Back to List", "Index")
</p>
