@model IEnumerable<HotelManagement.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="card-title title ml-32">Staff List</h2>

@using (Html.BeginForm("Search", "Staff", FormMethod.Get, new { @class = "search-form" }))
{
    <div class="input-group">
        <div class="form-outline">

            @Html.TextBox("name", null, new { @class = "form-control bg-light border-0 small" })
        </div>

        <input type="submit" value=" Tìm " name="name" class="btn btn-primary" />
    </div>
}


<p class="ml-32 mt-32 mb-24">
    @Html.ActionLink("Create New", "Create", "Staff", null, new { @class = "create-btn" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChucDanh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCCD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucDanh)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaNhanVien }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaNhanVien }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaNhanVien })
            </td>
        </tr>
    }

</table>