@model HotelManagement.DichVu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="card-title title ml-32">Service Details</h2>

<div>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDichVu)
            </th>
            <td>
                @Html.DisplayFor(model => model.TenDichVu)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GiaDichVu)
            </th>
            <td>
                @Html.DisplayFor(model => model.GiaDichVu)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDichVu }) |
    @Html.ActionLink("Back to List", "Index")
</p>