@model HotelManagement.DichVu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="card-title title ml-32">Service Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal ml-32">
        <dt>
            @Html.DisplayNameFor(model => model.TenDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaDichVu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDichVu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
