@model IEnumerable<HotelManagement.DichVu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 class="card-title title ml-32">Services List</h2>

@using (Html.BeginForm("Search", "Service", FormMethod.Get, new { @class = "search-form" }))
{
    <div class="input-group">
        <div class="form-outline">

            @Html.TextBox("tenDV", null, new { @class = "form-control bg-light border-0 small" })
        </div>

        <input type="submit" value=" Tìm " tenDV="tenDV" class="btn btn-primary" />
    </div>
}


<p class="ml-32 mt-32 mb-24">
    @Html.ActionLink("Create New", "Create", "Service", null, new { @class = "create-btn" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDichVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaDichVu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDichVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaDichVu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaDichVu.Trim() })
                @Html.ActionLink("Details", "Details", new { id = item.MaDichVu.Trim() })
            </td>
        </tr>
    }

</table>