@model HotelManagement.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="card-title title ml-32">Details Invoice</h2>

<div>
    <hr />
    <dl class="dl-horizontal ml-32">
        <dt>
            @Html.DisplayNameFor(model => model.MaHoaDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHoaDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLapHoaDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLapHoaDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienDichVu)
        </dt>

        <dd>
            @{ 
                var tienDV = Model.TienDichVu;
                if(Model.TienDichVu == null)
                {
                    tienDV = 0;
                }
            }
            @tienDV
        </dd>

        <dt>
            Total Amount
        </dt>

        <dd>

            @{
                var tongTien = Model.TienPhong + Model.TienDichVu;
            }
            @tongTien
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.TenNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.TenNhanVien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHoaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
